<div class="w-1/4 mb-7 px-2">
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2" style="background-image: url({{room.first_photo}});"></div>
        <div class="flex justify-between mb-2">
            <div>
                {% if room.host.superhost %}
                <spna class="mr-1 uppercase font-medium text-xs border border-black rounded-lg py-1 px-1">superhost</spna>
                {% endif %}
                <span class="text-sm text-gray-400">{{room.city}} ,&nbsp; {{room.country.name}}</span>
            </div>
            <div class="text-sm flex items-center">
                <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{room.total_rating}}
            </div>
        </div>
        <span>{{room.name}}</span>
    </a>
</div>



<!-- <a href='/rooms/{{room.pk}}'> -->
<!-- <a href="{% url 'rooms:detail' room.pk %}">
        <img src="{{room.first_photo}}" />
        {{room.name}} / ${{room.price}}
    </a> -->